<p>Hello <%= @resource.email %>!</p>

<p>Một người nào đó đã yêu cầu một liên kết để thay đổi mật khẩu của bạn. Bạn có thể làm điều này thông qua các liên kết bên dưới.</p>

<p><%= link_to 'Đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu này, xin vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn truy cập vào liên kết ở trên và tạo một password mới.</p>
