<p>Hello <%= @resource.email %>!</p>

<p>Tài khoản của bạn đã bị khóa do một số lượng quá nhiều nỗ lực đăng nhập không thành công.</p>

<p>Nhấp vào liên kết dưới đây để mở khóa tài khoản của bạn:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
